.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: 1184px;
  margin: 92px auto;
  gap: 16px;
}

@media (max-width: 1279px) {
  .photo-grid {
    max-width: calc(100% - 48px*2);
    gap: 14px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - 24px*2);
    gap: 16px;
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    max-width: calc(100% - 16px*2);;
    gap: 12px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}