.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer{
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer{
    max-width: 720px;
    padding: 0 24px 24px;
  }
}

@media (max-width: 767px) {
  .footer{
    max-width: 186px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    padding: 0 0 24px;
  }
}